{% extends 'TwiSenApp/base.html' %}

{% block content %}
<div class="row row-style">
    <div class="col-md-6">
        <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header bg-primary text-light h4">Search tweets by USERNAME</div>
          <div class="card-body text-primary">
              <h5 class="card-title">You can search tweets of a specific twitter user by clicking the button below</h5>
              <a href="{% url 'TwiSenApp:searchbyuname' %}" class="btn btn-primary">Search <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
    </div>
    <div class="col-md-6">
       <div class="card border-primary mb-3" style="max-width: 18rem;">
          <div class="card-header bg-primary text-light h4">Search tweets by HASHTAG</div>
          <div class="card-body text-primary">
              <h5 class="card-title">You can search tweets of a specific hashtag by clicking the button below</h5>
              <a href="{% url 'TwiSenApp:searchbyhtag' %}" class="btn btn-primary">Search <i class="fa fa-arrow-right"></i></a>
          </div>
        </div>
    </div>
</div>
{% endblock %}